p{
    width: 100%;
    background-color: beige;
    padding: 30px 100px 30px 100px;
    border-style: dashed solid;
    border-width: 5px;
    border-color: hotpink plum paleturquoise rgb(248, 252, 173);
    border-radius: 15px;
    margin: 0 auto;
}

h1{
    width: 80%;
    background-color: beige;
    border: 1px solid black;
    border-bottom: 5px solid rgb(195, 252, 173);
    padding-top: 30px;
    margin: 10px 10px;
    margin-top: 100px;
}