ul{
    list-style: none;
    display: flex;
    gap: 0 40px;
    justify-content: center;
}
.homepage{
    margin-right:30px;
}
img{
    width: 100%;
}
header{
    background-color: #fff5ee;
    padding: 20px 0;
}

:contens{
    display: flex;
    width: 90%;
    gap: 0 20px;
    justify-content: center;
    margin: 0 auto;
}

.blog{
    width: 30%;
}